*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-image: url(fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.titulo{
    margin-top: 55px;
    margin-bottom: 60px;
    text-align: center;
}

.titulo h1{
    font-size: 30px;
}

.titulo p{
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.466);
    font-weight: bold;
}

.factura{
    justify-content: center;
    display: flex;
    font-size: 14px;
}

.mensual{
    margin-right: 25px;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    padding: 25px;
    border-radius: 15px;
}

.anual{
    margin-left: 25px;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    padding: 25px;
    border-radius: 15px;
}

.formato{
    display: flex;
    justify-content: center;
}

.gratis{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(102, 101, 101);
    border-color: black;
    border: 2px;
}

.pro{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(102, 101, 101);
}

.business{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(102, 101, 101);
}

.tgratis{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.gratis p{
    color: rgba(0, 0, 0, 0.290);
    font-weight: bold;
}

.tpro{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.pro p{
    color: rgba(0, 0, 0, 0.290);
    font-weight: bold;
}

.tempr{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.business p{
    color: rgba(0, 0, 0, 0.290);
    font-weight: bold;
}

.precio{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 55px;
}

.costo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.costo .precio{
    font-size: 55px;
    margin-bottom: 15px;
}

.lista{
    list-style: none;
    background-color: rgb(240, 240, 240);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.lista li{
    font-size: 15px;
    margin-bottom: 20px;
}

.lista form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 280px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: white;
}

.btn:hover{
    cursor: pointer;
}

.gratis:hover{
    margin-top: 25px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    transition: all 250ms ease-in-out;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
}

.pro:hover{
    margin-top: 25px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    transition: all 250ms ease-in-out;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
}

.business:hover{
    margin-top: 25px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    transition: all 250ms ease-in-out;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
}

.formato:hover ul li{
    color: black;
}

.formato .gratis:hover ul .btn{
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    transition: all 250ms ease-in-out;
}

.formato .pro:hover ul .btn{
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    transition: all 250ms ease-in-out;
}

.formato .business:hover ul .btn{
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    transition: all 250ms ease-in-out;
}

.mensual:hover{
    background-color: blue;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.anual:hover{
    background-color: blue;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.gratis:hover p{
    color: white;
    font-weight: bold;
}

.pro:hover p{
    color: white;
    font-weight: bold;
}

.business:hover p{
    color: white;
    font-weight: bold;
}